---
layout: site
---

<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/home.css"/>
{% unless site.data.project %}<p>No projects have been uploaded.</p>{% else %}
	{% for collection in site.data.project.order %}
		{% unless site[collection].size %}{% continue %}{% endunless %}{% assign item = site[collection] %}
		<section id="{{ collection | slugify }}" class="project-container">
			<h2 class="container-title">{% if site.data.project.name[collection] %}{{ site.data.project.name[collection] }}{% else %}{{ collection | capitalize }}{% endif %}</h2>
			<ul>{% for project in item %}<li><a class="project" href="{{ project.url }}" style="background-image: url(/assets/thumbnails/{{ project.title }}.png);"><div class="project-content">
				<h3 class="project-title">{{ project.title }}</h3>
				{% if project.description %}<span class="project-description">{{ project.description }}</span>{% endif %}
			</div></a></li>{% endfor %}</ul>
		</section>
	{% endfor %}
{% endunless %}
